# 1. 숫자

# 1) 정수형, 실수형 대입

In [1]:
a = 100

print(a)
print(type(a))

100
<class 'int'>

In [2]:
b = 3.14

print(b)
print(type(b))

3.14
<class 'float'>

In [3]:
c = True

print(c)
print(type(c))

True
<class 'bool'>

# 2) 2,8,16진수

In [4]:
print(0x2f)
print(0o17)
print(0b1101)

47
15
13

In [5]:
print(hex(47))
print(oct(15))
print(bin(13))

0x2f
0o17
0b1101

# 3) 수치연산

In [6]:
a = 9
b = 4

print(a+b, a-b, a/b)
print(a**b)
print(a//b, a%b)

13 5 2.25
6561
2 1

In [7]:
a = 3.14e3
print(a)

b = 3.14e-3
print(b)

3140.0
0.00314

# 4) 진위형

In [8]:
a = True
b = False

print(type(a))
print(type(b))

<class 'bool'>
<class 'bool'>

In [9]:
print(bool(""))
print(bool([]))
print(bool(0))
print(bool(None))
print(bool("0"))
print(bool("None"))

False
False
False
False
True
True

In [10]:
a = 3

if a:
    print("참")
else:
    print("거짓")

참

# 2. 문자

# 1) 문자열 사용

In [11]:
a = 'hello Python'
b = "hello Python"

print(a)
print(b)

hello Python
hello Python

In [12]:
c = 'hello "Python"'# '',""번갈아 사용해서 표시
d = "hello 'Python'"

print(c)
print(d)

hello "Python"
hello 'Python'

In [13]:
e = "hello \"Python\""# \'이나 \"로 표시
f = 'hello \'Python\''

print(e)
print(f)

hello "Python"
hello 'Python'

In [14]:
stra = """Hello Python
Hello World
"""

strb = "Hello Python\nHello World"

print(stra)
print(strb)

Hello Python
Hello World

Hello Python
Hello World

# 2)확장열(이스케이프 코드

In [15]:
a = "Hello Python \nHello World"
b = "Hello\tPython"

print(a)
print(b)

Hello Python
Hello World
Hello	Python

In [16]:
c = "c\\KDTWork\\pywork\\test.py"

print(c)

c\KDTWork\pywork\test.py

# 3) 문자열 연산

In [17]:
head = "Hello"
tail = "Python"
print(head + " " + tail)

Hello Python

In [18]:
stra = "-"
print(stra*40)

----------------------------------------

In [20]:
print(len("Hello Python")) 
print(len([1, 2, 3, "a"]))

12
4

# 03. 컬렉션

In [4]:
city = ["seoul", "NewYork", "Beijing", "Tokyo"]
print(city)

for item in city:
    print("도시명 :", item)

['seoul', 'NewYork', 'Beijing', 'Tokyo']
도시명 : seoul
도시명 : NewYork
도시명 : Beijing
도시명 : Tokyo