# 인덱싱/슬라이싱

# 1)인덱싱

In [2]:
stra = "Hello, Python!"

print(stra)

Hello, Python!

In [3]:
print(stra[7])
print(stra[-7])

print(stra[0])
print(stra[-1])

P
P
H
!

# 2)슬라이싱

In [4]:
stra = "Life is too short, You need python"

print(stra[0:4])
print(stra[:4])
print(stra)

Life
Life
Life is too short, You need python

In [5]:
print(stra[::2])
print(stra[::-1])

Lf stosot o edpto
nohtyp deen uoY ,trohs oot si efiL

In [6]:
stra = "HeLlo"

strb = stra[:2] + "l" + stra[3:5]
print(strb)

Hello

In [7]:
resno = "980808-1067718"

year = resno[0:2]
month = resno[2:4]
date = resno[4:6]
gen = resno[7]

if gen in ["1","3"]:
    gen = "남자"
else:
    gen = "여자"

print(year,"년",month,"월",date,"일","성별",gen)

98 년 08 월 08 일 성별 남자

# 2.문자열 메소드

# 1)검색 메소드

In [8]:
value = "Hello Python!, Hello Python World!"

print(value.find("P"))
print(value.find("lo"))
print(value.find("k"))
print(value.rfind("P"))
print(value.rfind("lo"))
print(value.rfind("k"))

6
3
-1
21
18
-1

In [9]:
value = "Hello Python!, Hello Python World!"

print(value.index("P"))
print(value.index("lo"))
print(value.index("k"))
print(value.rindex("P"))
print(value.rindex("lo"))
print(value.rindex("k"))

6
3

ValueError: substring not found

In [35]:
print(value.count("P"))
print(len(value))

2
34

# 2) 조사 메소드

In [11]:
print("Python" in value)
print("Python" not in value)

True
False

In [12]:
print(value.startswith("Hello"))
print(value.endswith("!"))

True
True

In [13]:
print(value.isalpha())
print(value.isupper())
print(value.islower())

print("xcvnasd".isalpha())
print("JKNDOS".isupper())
print("value".islower())

False
False
False
True
True
True

In [14]:
print(value.isspace())
print(value.isalnum())
print(value.isdecimal())
print(value.isdigit())
print(value.isnumeric())

False
False
False
False
False

In [15]:
print("     ".isspace())
print("cnvsk12513".isalnum())
print("6344".isdecimal())
print("13524".isdigit())
print("35234".isnumeric())

True
True
True
True
True

# 3) 변경 메소드

In [16]:
print(value.lower())
print(value.upper())
print(value.swapcase())
print(value.capitalize())
print(value.title())

hello python!, hello python world!
HELLO PYTHON!, HELLO PYTHON WORLD!
hELLO pYTHON!, hELLO pYTHON wORLD!
Hello python!, hello python world!
Hello Python!, Hello Python World!

In [17]:
values = "     " + value+ "     "
print(values.strip())
print(values.lstrip())
print(values.rstrip())

Hello Python!, Hello Python World!
Hello Python!, Hello Python World!
     Hello Python!, Hello Python World!

# 3) 분할 메소드

In [18]:
valuep = "orange, apple, banana, mango"
print(valuep.split(","))
valuepl = "Hello Python\nHello Python World"
print(valuepl.splitlines())

['orange', ' apple', ' banana', ' mango']
['Hello Python', 'Hello Python World']

In [19]:
valuej = "abcde"

print(",".join(valuej))
print(valuej.join("123"))

a,b,c,d,e
1abcde2abcde3

In [20]:
print(value.replace("Hello","Hi"))
print(value.replace("Hello","Hi",1))

Hi Python!, Hi Python World!
Hi Python!, Hello Python World!

In [21]:
print("-----"+value.ljust(50)+"-----")
print("-----"+value.rjust(50)+"-----")
print("-----"+value.center(50)+"-----")

-----Hello Python!, Hello Python World!                -----
-----                Hello Python!, Hello Python World!-----
-----        Hello Python!, Hello Python World!        -----

# 3. 포메팅

# 1) 포메팅

In [22]:
name = "홍길동"
age = 30
print("이름 : " + name + " 나이 : " + str(age))
print("이름 : %s 나이 : %d" %(name,age))

이름 : 홍길동 나이 : 30
이름 : 홍길동 나이 : 30

In [23]:
num = 3
print("I eat %d orages" %num)

print("I eat %-10d orages" %num)

I eat 3 orages
I eat 3          orages

In [24]:
count = "Three"
print("I eat %s orages" %count)

print("I eat %-10s orages" %count)

I eat Three orages
I eat Three      orages

In [25]:
pi = 3.1415926545
print("pi = %-8.5f" %pi)

pi = 3.14159

# 2) 함수를 사용한 포메팅

In [26]:
print("a : {} b : {} c : {}".format(1,2,3))
#정렬 <:좌측 >:우측 ^:중앙

print("a : {:^10} b : {:<10} c : {:>10}".format(1,2,3))

a : 1 b : 2 c : 3
a :     1      b : 2          c :          3

In [27]:
print("이름 : {}, 나이 : {}".format(name,str(age)))
print("이름 : {1}, 나이 : {0}".format(str(age),name))

이름 : 홍길동, 나이 : 30
이름 : 홍길동, 나이 : 30

# 3) f문자열을 사용한 포메팅

In [28]:
print(f"이름 : {name}, 나이 : {age}")

이름 : 홍길동, 나이 : 30

In [29]:
#정렬 <:좌측 >:우측 ^:중앙

print(f"이름 : {name:-^5}, 나이 : {age:>3}")

이름 : -홍길동-, 나이 :  30

# 4) 4가지 포메팅 활용

In [30]:
name = "Eric"
age = 30
email = "Eric123@gmail.com"

In [31]:
#+
print("name : " + name + " age : " + str(age) + " email : " + email)

name : Eric age : 30 email : Eric123@gmail.com

In [32]:
#표식
print("name : %s, age : %d, email : %s"%(name, age, email))

name : Eric, age : 30, email : Eric123@gmail.com

In [33]:
#format
print("name : {}, age : {}, email : {}".format(name, age, email))

name : Eric, age : 30, email : Eric123@gmail.com

In [34]:
#f문자열
print(f"name : {name}, age : {age}, email : {email}")

name : Eric, age : 30, email : Eric123@gmail.com