# 1. 딕셔너리

# 1) 딕셔너리 생성

In [25]:
dict_a = {"name": "LEE", "age": 30, "addr": "gangnam seoul"}
print(dict_a)

dict_b = dict(name = "LEE", age = 30, adrr = "gangnam seoul")
print(dict_b)

keys = ["name", "age", "addr"]
print(keys)

values = ["LEE", 30, "gangnam seoul"]
print(values)

print(list(zip(keys, values)))
print(tuple(zip(keys, values)))

dict_c = dict(zip(keys, values))
print(dict_c)

{'name': 'LEE', 'age': 30, 'addr': 'gangnam seoul'}
{'name': 'LEE', 'age': 30, 'adrr': 'gangnam seoul'}
['name', 'age', 'addr']
['LEE', 30, 'gangnam seoul']
[('name', 'LEE'), ('age', 30), ('addr', 'gangnam seoul')]
(('name', 'LEE'), ('age', 30), ('addr', 'gangnam seoul'))
{'name': 'LEE', 'age': 30, 'addr': 'gangnam seoul'}

# 2) 딕셔너리 검색 / 추가 / 수정 / 삭제

In [30]:
#검색
print(dict_a["name"])
#없는 key 검색 시 에러 발생 ->예외처리 필요
print(dict_a["score"])

LEE

KeyError: 'score'

In [34]:
#추가
dict_a["email"] = "Lee123@gamil.com"
print(dict_a)

{'name': 'PARK', 'age': 30, 'addr': 'gangnam seoul', 'email': 'Lee123@gamil.com'}

In [31]:
#수정
dict_a["name"] = "PARK"
print(dict_a)

{'name': 'PARK', 'age': 30, 'addr': 'gangnam seoul', 'email': 'Lee123@gamil.com'}

In [35]:
#삭제
del dict_a["email"]
print(dict_a)
#삭제하려는 key 없을 시 에러 발생
del dict_a["score"]
print(dict_a)

{'name': 'PARK', 'age': 30, 'addr': 'gangnam seoul'}

KeyError: 'score'

# 3)딕셔너리 메서드

In [48]:
#get

print(dict_a.get("name"))
print(dict_a.get("score"))
print(dict_a.get("score", "score 항목이 없습니다"))

PARK
None
score 항목이 없습니다

In [52]:
#keys, values, items

print(dict_a.keys())
print(type(dict_a.keys()))

print(dict_a.values())
print(type(dict_a.values()))

print(dict_a.items())
print(type(dict_a.items()))

dict_keys(['name', 'age', 'addr'])
<class 'dict_keys'>
dict_values(['PARK', 30, 'gangnam seoul'])
<class 'dict_values'>
dict_items([('name', 'PARK'), ('age', 30), ('addr', 'gangnam seoul')])
<class 'dict_items'>

In [57]:
#update

dict_a = dict(name = "Lee", age = 30)
dict_b = dict(addr = "gangnam seoul", email = "lee123@gamil.com")
dict_c = dict(age = 50)

print("dict a :", dict_a)
print("dict b :", dict_b)
print("dict c :", dict_c)

dict_a.update(dict_b)
print("updateted dict a :", dict_a)

dict_a.update(dict_c)
print("updateted dict a :", dict_a)

dict a : {'name': 'Lee', 'age': 30}
dict b : {'addr': 'gangnam seoul', 'email': 'lee123@gamil.com'}
dict c : {'age': 50}
updateted dict a : {'name': 'Lee', 'age': 30, 'addr': 'gangnam seoul', 'email': 'lee123@gamil.com'}
updateted dict a : {'name': 'Lee', 'age': 50, 'addr': 'gangnam seoul', 'email': 'lee123@gamil.com'}

In [60]:
#clear, dict

dict_c = dict(age = 30)
print(dict_c)
dict_c.clear()
print(dict_c)

a = (("a", "1"), ("b", "2"), ("c", "3"))
print(a)
print(type(a))

b = dict(a)
print(b)
print(type(b))

{'age': 30}
{}
(('a', '1'), ('b', '2'), ('c', '3'))
<class 'tuple'>
{'a': '1', 'b': '2', 'c': '3'}
<class 'dict'>

In [61]:
# in, not in

print(dict_a)
print("name" in dict_a)
print("age" not in dict_a)

{'name': 'Lee', 'age': 50, 'addr': 'gangnam seoul', 'email': 'lee123@gamil.com'}
True
False

# 2. 집합

# 1) 집합 생성

In [65]:
#순서가 없다/ 중복된 것은 제거된다
a = {"a", "b", "c", "d", "e"}

print(type(a))
print(a)

b = [1, 2, 3, 4, 5, 6, 1, 3, 2, 7, 0, 4, 6]
print(b)
print(set(b))

<class 'set'>
{'b', 'c', 'a', 'd', 'e'}
[1, 2, 3, 4, 5, 6, 1, 3, 2, 7, 0, 4, 6]
{0, 1, 2, 3, 4, 5, 6, 7}

# 2) 집합 메소드

In [72]:
# add, update, remove

a = {"a", "b", "c", "d", "e"}
b = {1, 2, 3, 4, 5}

a.add("f")
print(a)

a.update(b)
print(a)

a.remove("d")
print(a)

{'b', 'c', 'a', 'd', 'f', 'e'}
{1, 2, 3, 4, 5, 'a', 'e', 'b', 'c', 'd', 'f'}
{1, 2, 3, 4, 5, 'a', 'e', 'b', 'c', 'f'}

In [81]:
# 연산

a = {"A", "B", "C", "D", "E"}
b = {"B", "C", "D"}
c = {"B", "C", "D", "F"}


print(a.union(b))
print(a|b)
print(a&b)
print(a-b)
print(a^c)
print(a<=b)
print(a>=b)

{'D', 'B', 'C', 'A', 'E'}
{'D', 'B', 'C', 'A', 'E'}
{'D', 'C', 'B'}
{'A', 'E'}
{'F', 'A', 'E'}
False
True

# 3. 부울

# 1) 부울 생성

In [86]:
a = True
b = False

print(a, b)
print(type(a), type(b))

True False
<class 'bool'> <class 'bool'>

# 2) 조건

In [85]:
a = 1
b = 2

print(a == b)
print(a < b)

False
True

# 3) 메소드

In [87]:
print(bool("abc"))
print(bool(""))
print(bool([1,2,3]))
print(bool([]))
print(bool(3))
print(bool(0))

True
False
True
False
True
False