# 1. while문

In [ ]:
value = 1

while value <=10:
    if value%2 == 1:
        print(value)
        
    value += 1

In [ ]:
value = 1
sum = 0
while value <= 100:
    sum += value
    value +=1
print(sum)

In [ ]:
value = 1
sum = 0
while value <= 100:
    sum += value
    value +=1
print(sum)


value = 1
sum = 0
while value <= 100:
    if value % 10 == 0:
        sum += value
    value +=1
print(sum)

In [ ]:
t = """1. Add
2. Del
3. List
4. Quit
Enter number:
"""
num = 0
while num != 4:
    num = int(input(t))

# 2 for문

In [1]:
set_a = {"a ", "b", "c"}

for item in set_a:
    print(item)

a
b
c

In [3]:
num = 0
for item in set_a:
    num += 1
    print(num)

1
2
3

In [7]:
list_a = {(1,2), (3,4), (5,6)}

for item in list_a:
    print(item)
    
for k,v in list_a:
    print(k,v)

(1, 2)
(3, 4)
(5, 6)
1 2
3 4
5 6

In [11]:
dict_a = dict(fruit = "apple", int_num = 10, float_num = 3.5, gubun = True)

for item in dict_a:
    print(item)
    
for item in dict_a.items():
    print(item)

fruit
int_num
float_num
gubun
('fruit', 'apple')
('int_num', 10)
('float_num', 3.5)
('gubun', True)

In [27]:
list_a = [45, 65, 75, 55, 85]
num = 1

for point in list_a:
    print(str(num) + " 번째 학생 ", end = "")
    if point >= 60:
        print(str(point) + "점으로 합격입니다.")
    else:
        print(str(point) + "점으로 불합격입니다.")
    num += 1

print("\n\n\n")

num = 1
for point in list_a:
    print("%d 번째 학생 "% num, end = "")
    if point >= 60:
        print("%d 점으로 합격입니다."%point)
    else:
        print("%d 점으로 불합격입니다."%point)
    num += 1

print("\n\n\n")

num = 1
for point in list_a:
    print("{} 번째 학생 ".format(num), end = "")
    if point >= 60:
        print(f"{point} 점으로 합격입니다.")
    else:
        print(f"{point} 점으로 불합격입니다.")
    num += 1

1 번째 학생 45점으로 불합격입니다.
2 번째 학생 65점으로 합격입니다.
3 번째 학생 75점으로 합격입니다.
4 번째 학생 55점으로 불합격입니다.
5 번째 학생 85점으로 합격입니다.




1 번째 학생 45 점으로 불합격입니다.
2 번째 학생 65 점으로 합격입니다.
3 번째 학생 75 점으로 합격입니다.
4 번째 학생 55 점으로 불합격입니다.
5 번째 학생 85 점으로 합격입니다.




1 번째 학생 45 점으로 불합격입니다.
2 번째 학생 65 점으로 합격입니다.
3 번째 학생 75 점으로 합격입니다.
4 번째 학생 55 점으로 불합격입니다.
5 번째 학생 85 점으로 합격입니다.

# 3. continue

In [32]:
list_a = [45, 65, 75, 55, 85]
num = 0

for point in list_a:
    num += 1
    if point <= 60:
        continue
    print("%d 번째 학생은 %d 점으로 합격입니다."%(num, point))

2 번째 학생은 65 점으로 합격입니다.
3 번째 학생은 75 점으로 합격입니다.
5 번째 학생은 85 점으로 합격입니다.

# 4. break

In [34]:
list_a = [45, 65, 75, 55, 85]
num = 0
hap = 0

for point in list_a:
    num += 1
    
    if point >= 60:
        hap += 1
        print(("%d 번째 학생은 %d 점으로 합격입니다."%(num, point)))
    if hap >=2:
        break

2 번째 학생은 65 점으로 합격입니다.
3 번째 학생은 75 점으로 합격입니다.

In [50]:
coffee = 10
exch = 300
total = 0

while 1>0:
    if coffee == 0:
        print("커피가 모두 소진되어 영업을 종료합니다.")
        print("총 %d잔 판매" %total)
        break
    if exch < 10:
        print("잔돈이 모두 소진되어 영업을 종료합니다.")
        print("총 %d잔 판매" %total)
        break
    
    total += 1
    coffee -= 1
    exch -= 10
    print("커피를 제공합니다.")
    print("커피 %d잔 잔액 %d원 남음" %(coffee, exch))

커피를 제공합니다.
커피 9잔 잔액 290원 남음
커피를 제공합니다.
커피 8잔 잔액 280원 남음
커피를 제공합니다.
커피 7잔 잔액 270원 남음
커피를 제공합니다.
커피 6잔 잔액 260원 남음
커피를 제공합니다.
커피 5잔 잔액 250원 남음
커피를 제공합니다.
커피 4잔 잔액 240원 남음
커피를 제공합니다.
커피 3잔 잔액 230원 남음
커피를 제공합니다.
커피 2잔 잔액 220원 남음
커피를 제공합니다.
커피 1잔 잔액 210원 남음
커피를 제공합니다.
커피 0잔 잔액 200원 남음
커피가 모두 소진되어 영업을 종료합니다.
총 10잔 판매

# 4. range

In [54]:
print(range(10))
print(list(range(10)))

print(range(1,11))
print(list(range(1,11)))

print(range(1,11,2))
print(list(range(1,11,2)))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
range(1, 11)
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
range(1, 11, 2)
[1, 3, 5, 7, 9]

In [55]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [66]:
for i in range(11):
    for j in range(i):
        print("*", end = "")
    print("\n", end="")

*
**
***
****
*****
******
*******
********
*********
**********

In [65]:
for i in range(11):
    print("*"*i)

*
**
***
****
*****
******
*******
********
*********
**********

In [72]:
for i in range(1,11):
    print(" "*(10-i),end = " ")
    print("*"*i)

          *
         **
        ***
       ****
      *****
     ******
    *******
   ********
  *********
 **********

# 6. 이중루프

In [75]:
for i in range(2,10):
    for j in range(1,10):
        print("%d X %d = %d"%(i, j, i*j))
    print("\n")

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18


3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27


4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36


5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45


6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54


7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63


8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72


9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

# 7. 리스트 컴프리헨션

In [85]:
list_a = [1,2,3,4,5]
list_b = []

for i in list_a:
    list_b.append(i*3)
    
print(list_b)

[3, 6, 9, 12, 15]

In [87]:
#리스트 컴프리헨션 사용
list_a = [1,2,3,4,5]
list_b = [item * 3 for item in list_a]

print(list_b)

[3, 6, 9, 12, 15]

In [94]:
#조건
list_a = [1,2,3,4,5]
list_b = [item * 3 for item in list_a if item % 2 ==0]

print(list_b)

#else까지 있는 조건
list_a = [1,2,3,4,5]
list_b = [item * 3 if item % 2 ==0 else 0 for item in list_a]

print(list_b)

[6, 12]
[0, 6, 0, 12, 0]